  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 55px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    font-size: 35px;
    float: none;
    box-shadow:5px 5px 5px grey;
    padding: 10px;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    white-space: pre-line;
  }

 .copy_right_footer{
position: fixed;
color: white;
bottom: 0;
width: 100%;
background-color: gray;
line-height: 3;
text-align: center;
 }